@page "/lista-productos"
@rendermode InteractiveServer
@using Maphreca.Components.Data
@using Maphreca.Components.Models
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject ProductosContext Db
@using System.Globalization

<h3 class="justify-center">Lista de productos</h3>

<div class="flex flex-wrap">
    @if (productos != null && productos.Any())
    {
        @foreach (var item in productos)
        {
            <div class="p-4 bg-gradient-to-t from-indigo-700 to-blue-900 hover:opacity-90 rounded-xl shadow-lg flex flex-col items-start m-1 w-48" @onclick="() => EditarProducto(item)">
                <p class="m-0 text-white font-bold">@item.Nombre</p>
                <p class="m-0 text-green-300">@item.Precio.ToString("C", CultureInfo.GetCultureInfo("es-MX"))</p>
                <p class="m-0 text-white">@item.Descripcion</p>
            </div>
        }
    }
    else
    {
        <p>No hay productos disponibles.</p>
    }
</div>

@code {
    private List<ProductosModel> productos = new List<ProductosModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            productos = await Db.Productos.ToListAsync();
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., logging)
            Console.WriteLine($"Error fetching products: {ex.Message}");
        }
    }

    private void EditarProducto(ProductosModel producto)
    {
        // Navigate to the page for editing the selected product
        NavigationManager.NavigateTo($"/editar-producto/{producto.Id}");
    }
}
